In [2]:
print("Hello world")

Hello world

In [6]:
# Python as a calculator
2 + 3

5

In [11]:
3 + 4
6 * 7

42

In [12]:
print(3 + 4)
print(6* 7)

7
42

# Heading 1
## Heading 2
### Heading 3

**bold text**
*italics*

* item 1
* item 2
* item 3

1. ordered item 1
2. ordered item 2

In [13]:
17

17

In [14]:
2

2

In [15]:
3.5

3.5

In [16]:
"Hello world!"

'Hello world!'

In [17]:
type(17)

int

In [18]:
type(2)

int

In [19]:
type(3.5)

float

In [20]:
type('Hello world!')

str

In [21]:
'17'

'17'

In [22]:
type('17')

str

In [23]:
type('3.5')

str

In [24]:
message = 'Welcome to 2021'

In [25]:
type(message)

str

In [26]:
message

'Welcome to 2021'

In [27]:
pi = 3.14

In [28]:
type(pi)

float

In [34]:
Ninelives = "cats"

In [38]:
student = 'Joe'

In [39]:
student

'Joe'

In [40]:
Student

NameError: name 'Student' is not defined

In [41]:
x = 5

In [42]:
y = 10

In [43]:
x + y

15

In [44]:
x = 10

In [45]:
x + y

20

In [46]:
x = 5
y = 10
z = x + y
print(z)

15

In [47]:
x = 10

In [48]:
z

15

In [49]:
z = x + y

In [50]:
z

20

In [51]:
first = 'storm'
second = 'trooper'
print(first + second)

stormtrooper

In [52]:
first+" "+second

'storm trooper'

In [53]:
"covid"+19

TypeError: can only concatenate str (not "int") to str

In [54]:
"covid"+"19"

'covid19'

In [55]:
"covid"+str(19)

'covid19'

In [56]:
'hydrofla'+'sk'

'hydroflask'

In [57]:
'sk'*5

'sksksksksk'

In [58]:
'hydrofla'+'sk'*5

'hydroflasksksksksk'

In [59]:
True

True

In [60]:
False

False

In [61]:
true

NameError: name 'true' is not defined

In [71]:
age = 17

In [72]:
age > 21

False

In [73]:
age <= 60

True

In [74]:
can_go_out = age > 21 and age <= 60

In [75]:
can_go_out

False

In [76]:
grade = 85

In [77]:
passing = 50

In [78]:
passed = grade >= passing

In [79]:
passed

True

In [80]:
grade =49

In [81]:
passed

True

In [82]:
passed = grade >= passing

In [83]:
passed

False

In [84]:
grade != 50

True

In [85]:
grade != 49

False

### Additional string examples

```
>>> 'spam eggs'  # single quotes
'spam eggs'
>>> 'doesn\'t'  # use \' to escape the single quote...
"doesn't"
>>> "doesn't"  # ...or use double quotes instead
"doesn't"
>>> '"Yes," they said.'
'"Yes," they said.'
>>> "\"Yes,\" they said."
'"Yes," they said.'
>>> '"Isn\'t," they said.'
'"Isn\'t," they said.'
```

In [86]:
'spam eggs'  # single quotes

'spam eggs'

In [87]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [88]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [89]:
'"Yes," they said.'

'"Yes," they said.'

In [90]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [91]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [92]:
print('Hello world.')

Hello world.

In [93]:
print('Hello','world')

Hello world

In [94]:
print('Hello','world',sep='')

Helloworld

In [95]:
print('Covid',19)

Covid 19

In [96]:
print('Covid',19,sep='')

Covid19

In [97]:
print('Covid',18+1,sep='')

Covid19

In [99]:
input('What is your name? ')

What is your name? Joe

'Joe'

In [100]:
input('What is your age? ')

What is your age? 20

'20'

In [ ]:
base_area = input('Base Area: ')
height = input("Height: ")
volume = int(base_area) * int(height)
print(volume)